*{
    margin: 0;
    padding: 0;  
}

.navbar {
    text-align: center;
}


button {
    opacity: 65%;
    margin: 15px 75px;
    color: #FFF;
    font-size: 16px;
    height: 30px;
    width: 150px;
    background-color: rgb(12, 58, 114);
    border-radius: 15%;
}

.container {
    position: relative;
    margin-left: 25%;
    width: 950px;
    height: 850px;
    background-image: url('./img.jpg');
}

.clientes {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgb(110, 110, 142);
}

.estoque {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(110, 110, 142);
}

.relatorios {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgb(110, 110, 142);
}